/* contenedor principal centrado */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    display: grid; /* Establece un diseño de cuadrícula */
    grid-template-columns: repeat(4, 75px); /* Cuatro columnas de igual tamaño */
    grid-template-rows: repeat(6, 75px); /* cinco filas de 75px de altura */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */
    background-color: #0eb6ee; /* Color de fondo claro */
    padding: 25px; /* Espacio interno alrededor de la cuadrícula */
    border-radius: 15px; /* Bordes redondeados */
}

#display {
    grid-column: span 4; /* El display ocupa las cuatro columnas */
    background-color: white; /* Color de fondo blanco */
    font-size: 2em; /* Tamaño de fuente grande para el display */
    border: 1px solid black;
    text-align: right; /* Alinea el texto a la derecha */
    padding: 10px; /* Espacio interno alrededor del texto */
    font-family: 'Courier New', Courier, monospace; /* Fuente de estilo máquina de escribir */
}

#equals {
    grid-column: span 2; /* El botón "=" ocupa dos columnas */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    font-weight: bold;
}

.operations {
    background-color: #f0ad4e; /* Color de fondo naranja */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    font-weight: bold;
}

.cancel {
    background-color: #d9534f; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    font-weight: bold;
}

button {
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    font-size: 1.5em; /* Tamaño de fuente grande para los botones */
    border: none;
    border-radius: 45px;
}

button:active{
    box-shadow: inset 0 0 10px #000000;
}