.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ea95bd;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.formulario {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(194, 11, 11, 0.1);
    width: 300px;
    color: #000000;
}   

#title {
    text-align: center;
    margin-bottom: 20px;
    color: #880d1e;
    font-size: 24px
}

p::before {
    content: attr(type);
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #555;
}

#saveBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#saveBtn:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777777;
}